<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet"  type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <title>Error</title>
    <link rel="icon" href="/images/download.png" />
</head>
<body>
    <div class="error-message-container">
        <h2 class="error-message">Email may already be in use! Please fill all of the fields!</h2>
        <form action="/"><button  class="home-error-button">Home</button></form>
    </div>

    <img class="error-image" src="/images/404error-1.jpg">
</body>
</html>